server {

    listen 80;
    listen [::]:80;

    server_name domain.com www.domain.com;
    root /var/www/public/domain.com; # Path used in docker-compose.yml
    index index.php index.html index.htm;

	access_log /var/log/nginx/access.log;
	server_tokens off;

    location / {
         try_files $uri $uri/ /index.php$is_args$args;
    }

    location ~ \.php$ {
        try_files $uri /index.php =404;
        fastcgi_pass php-upstream; # This is setup in /docker/nginx/conf.d/default.conf --> Also check docker-compose.yml
        fastcgi_index index.php;
        fastcgi_buffers 16 16k;
        fastcgi_buffer_size 32k;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        #fixes timeouts
        fastcgi_read_timeout 600;
        include fastcgi_params;
    }

    location ~ /\.ht {
        deny all;
    }

}